@media (max-width: 76.8em) {
  /* General */
  .inner-wrapper {
    max-width: 76.8rem;
    width: 100%;
  }

  /* Tablet - Header */
  .header .inner-wrapper {
    height: 15.9rem;
  }

  .main-nav {
    flex-direction: column;
  }

  .nav-logo {
    margin-bottom: 3.9rem;
  }

  .nav-link:hover,
  .nav-link:active,
  .active {
    border: none;
  }

  /* Tablet - Main */
  .main .inner-wrapper {
    padding: 0 3.9rem 3.6rem;
  }

  /* Tablet - Main - Planet */
  .planet {
    margin-top: 14.6rem;
    max-width: 68.9rem;
    width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 13rem;

    padding: 0;
  }

  .img-overview,
  .img-internal {
    height: 18.4rem;
  }

  .img-surface {
    height: 18rem;
  }

  .planet-info {
    grid-template-columns: 33.9rem 28.1rem;
    grid-template-rows: 1fr;

    justify-content: space-between;
    align-items: center;
  }

  .planet-name {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
  }

  .planet-desc {
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;
  }

  .source {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .source-img {
    height: 1.2rem;
  }

  .btn {
    width: 28.1rem;
    height: 4rem;

    font-size: 0.9rem;
    line-height: 2.5rem;
    letter-spacing: 0.1929rem;
  }

  /* Tablet - Main - Statistics */
  .statistics {
    gap: 1.1rem;
  }

  .stat {
    width: 16.4rem;
    height: 8.8rem;

    gap: 0.6rem;

    padding-top: 1.6rem;
    padding-left: 1.5rem;
  }

  .stat-title.h-sm {
    font-size: 0.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.0727rem;
  }

  .stat-value.h-lg {
    font-size: 2.4rem;
    letter-spacing: -0.09rem;
  }
}

@media (max-width: 37.5em) {
  /* Mobile - General */
  .header .inner-wrapper {
    max-width: 37.5rem;
    width: 100%;

    padding: 0;
  }

  /* Mobile - Header */
  .header .inner-wrapper {
    height: 6.9rem;
    padding: 0 2.4rem;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    margin-bottom: 0;
  }

  .nav-link:hover,
  .nav-link:active,
  .active {
    padding: 0;
  }

  /* Mobile - Nav */
  .nav-logo {
    z-index: 100;
  }

  .btn-mobile-nav {
    z-index: 1;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-open + .btn-mobile-nav > .icon-mobile-nav {
    opacity: 0.2487;
  }

  .nav-open + .btn-mobile-nav:hover > .icon-mobile-nav {
    color: var(--white);
    opacity: 1;
  }

  .nav-list {
    position: absolute;
    top: 11.3rem;
    left: 50%;
    transform: translateX(-50%);

    max-width: 37.5rem;
    width: 100%;
    padding: 0 2.4rem;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;

    transition: all 0.5s;

    /* Hide navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-list--item {
    display: flex;
    gap: 2.5rem;

    padding: 2rem 0;
    border-bottom: 0.1rem solid var(--white-op-1);
    width: 100%;
    position: relative;
  }

  .nav-list--item::after {
    content: "";

    width: 0.4rem;
    height: 0.8rem;

    position: absolute;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    padding-right: 0.8rem;

    background-image: url("../assets/icon-chevron.svg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .nav-bullet {
    display: flex;
  }

  .nav-open .nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  /* Mobile - Main */
  .main .inner-wrapper {
    max-width: 37.5rem;
    width: 100%;
    padding: 0 2.4rem 4.7rem;
  }

  /* Mobile - Main - Planet */
  .planet {
    margin-top: 9.5rem;
    max-width: 100%;
    width: 100%;
    padding: 0 2.4rem;
    gap: 9.8rem;
  }

  .img-overview,
  .img-internal {
    height: 11.1rem;
  }

  .img-surface {
    height: 10rem;
  }

  .planet-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    text-align: center;
  }

  .planet-name {
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 1.6rem;
  }

  .planet-desc {
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;
  }

  .source {
    font-size: 1.2rem;
    line-height: 2.5rem;
    justify-content: center;
    margin-bottom: 2.8rem;
  }

  .buttons {
    position: absolute;

    top: 7rem;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    flex-direction: row;
    justify-content: center;
    gap: 4.4rem;

    border-bottom: 1px solid var(--white-op-2);
  }

  .btn {
    max-width: 8rem;
    width: 100%;
    padding: 2rem 0;
    justify-content: center;
    border: none;
  }

  .btn-title.long {
    display: none;
  }

  .btn-title.short {
    display: flex;
  }

  .btn-num {
    display: none;
  }

  .btn {
    background: transparent;
    border-bottom: 0.4rem solid transparent;
  }

  .btn:hover {
    background: transparent;
  }

  .btn-active,
  .btn-active:hover {
    background-color: transparent;
    border-bottom: 0.4rem solid var(--accent);
  }

  /* Mobile - Main - Statistics */

  .statistics {
    flex-direction: column;
    width: 100%;
  }

  .stat {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 0.8rem;

    padding: 0 2.4rem;

    width: 32.7rem;
    height: 4.8rem;
  }

  .stat-value.h-lg {
    text-align: right;
    font-size: 2rem;
    letter-spacing: -0.075rem;
  }
}
