/* HEADER */
.header {
  width: 100%;
  border-bottom: 0.1rem solid var(--white-op-2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inner-wrapper {
  height: 8.5rem;
  padding-left: 3.2rem;
  padding-right: 4.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  text-decoration: none;
  color: var(--white);
  font-family: var(--antonio);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.105rem;
  text-transform: uppercase;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.3rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--white-op-75);
  padding-top: 3.4rem;
  border-top: 0.4rem solid transparent;
  transition: 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:active,
.active,
.active:link,
.active:visited {
  border-top: 0.4rem solid var(--accent);
  padding-top: 3.4rem;
  color: var(--white) !important;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s all ease;
  display: none;
}

.btn-mobile-nav:hover > .icon-mobile-nav {
  opacity: 0.2487;
}

.icon-mobile-nav {
  width: 2.4rem;
  height: 1.7rem;
}

.nav-bullet {
  display: none;
}

/* MAIN */
.main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main .inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 16.5rem 5.6rem;
}

/* Planet */

.planet {
  display: grid;
  grid-template-columns: 76rem 35rem;
  grid-template-rows: auto;

  align-items: center;
  justify-content: space-between;

  padding-top: 12.6rem;
  padding-bottom: 8.7rem;
}

.planet-img-box {
  justify-self: center;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-overview,
.img-internal {
  object-position: center;
}

.img-surface {
  height: 19.9rem;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.planet-info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.planet-name {
  margin-bottom: 2.3rem;
}

.planet-desc {
  margin-bottom: 2.4rem;
}

.source {
  margin-bottom: 3.9rem;
  color: var(--white-op-5);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.source-link:link,
.source-link:visited {
  color: var(--white-op-5);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.btn {
  width: 35rem;
  height: 4.8rem;
  border: 1px solid var(--white-op-2);

  background-color: var(--background);

  padding-left: 2.8rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;
  transition: all 0.2s ease-in-out;
}

.btn-title.short {
  display: none;
}

.btn-num {
  color: var(--white-op-5);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
}

.btn-active {
  background-color: var(--accent);
}

.btn-active:hover {
  background-color: var(--accent);
}

/* Main - Statistics */
.statistics {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.stat {
  width: 25.5rem;
  height: 12.8rem;

  padding-top: 2rem;
  padding-left: 2.3rem;

  border: 1px solid var(--white-op-2);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 0.4rem;

  transition: all 0.5s ease;
}

.stat-title {
  color: var(--white-op-5);
}
