:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
}

.qr-code {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr-code-card {
  background-color: var(--white);
  width: 300px;
  border-radius: 3%;
  text-align: center;
  margin-bottom: 20px;
}

.qr-code-img {
  width: 100%;
  padding: 5%;
  border-radius: 8%;
}

.qr-code-info {
  padding: 0 9% 10%;
}

.qr-code-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-blue);
  margin-bottom: 12px;
}

.qr-code-details {
  font-weight: 400;
  color: var(--grayish-blue);
}

.attribution {
  text-align: center;
  width: 300px;
  color: var(--grayish-blue);
}

.attribution-link:link,
.attribution-link:visited {
  color: var(--grayish-blue);
}

.attribution-link:hover,
.attribution-link:active {
  color: var(--dark-blue);
}
