:root {
  --dark-blue: hsl(233, 47%, 7%); /* main background */
  --desaturated-blue: hsl(244, 38%, 16%); /* card background */
  --violet: hsl(277, 64%, 61%); /* accent */
  --white: hsl(0, 0%, 100%); /* main heading, stats */
  --transparent-white-1: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --transparent-white-2: hsla(0, 0%, 100%, 0.6); /* stat headings */
  --inter: "Inter", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--inter);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: var(--desaturated-blue);
  border-radius: 5px;

  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 3rem;
}

/* .header-img {
  height: 30.5rem;
  display: block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.img-box {
  background-image: linear-gradient(
      rgba(170, 92, 219, 0.5),
      rgba(170, 92, 219, 0.5)
    ),
    url(./images/image-header-desktop.jpg);
  width: 50px;
  background-size: cover;
  width: 36rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info {
  padding: 4.5rem;
  width: 35rem;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.insight {
  background-color: var(--desaturated-blue);
  color: var(--violet);
}

.description {
  line-height: 1.7rem;
  color: var(--transparent-white-1);
  margin-bottom: 4.8rem;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.4rem;
  column-gap: 2.8rem;
}

.stat {
  font-size: 1.6rem;
  font-weight: 700;
}

.stat-heading {
  text-transform: uppercase;
  color: var(--transparent-white-2);
  font-family: var(--lexend-deca);
  font-size: 0.9rem;
  font-weight: 400;
}

.attribution {
  color: var(--transparent-white-2);
  text-align: center;
}

.attribution-link:link,
.attribution-link:visited {
  color: var(--transparent-white-2);
  text-decoration: none;
  border-bottom: 1px solid var(--transparent-white-2);
  transition: all 0.3s ease;
}

.attribution-link:hover,
.attribution-link:active {
  color: var(--white);
  color: var(--violet);
  border-bottom: none;
}

/* 800/16 = 50 */
@media (max-width: 50em) {
  body {
    text-align: center;
  }

  .card {
    flex-direction: column;
    gap: 0;
  }

  .img-box {
    background-image: linear-gradient(
        rgba(170, 92, 219, 0.5),
        rgba(170, 92, 219, 0.5)
      ),
      url(./images/image-header-mobile.jpg);
    background-size: cover;
    width: 30rem;
    height: 20rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
  }

  .info {
    /* padding: 4.5rem; */
    /* width: 35rem; */
    width: 30rem;
    padding: 3.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    margin-bottom: 3.5rem;
  }

  .statistics {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .stat {
    font-size: 1.6rem;
  }

  .stat-heading--companies {
    grid-row: 2/3;
  }

  .stat-heading--templates {
    grid-row: 4/5;
  }
}

/* 600/16 = 37.5 ~ 38 */
@media (max-width: 38em) {
  .container {
    width: 22rem;
  }

  .img-box {
    width: 22rem;
    height: 16rem;
  }

  .info {
    width: 22rem;
    padding: 2.5rem;
  }

  .title {
    font-size: 1.8rem;
  }
}
