:root {
  --black: #000000;
  --white: #ffffff;

  --grey-1: #050505;
  --grey-2: #1f1f1f;
  --grey-3: #2d2d2d;
  --grey-4: #3a3a3a;
  --grey-5: #757575;
  --grey-6: #e9e9e9;
  --grey-7: #f4f4f4;

  --accent: #a445ed;
  --error: #ff5252;

  --sans: "Inter", sans-serif;
  --serif: "Lora", serif;
  --mono: "Inconsolata", monospace;

  --font: "Inter", sans-serif;

  --moon: #757575;
  --dropdown-bg: #ffffff;
  --dropdown-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

  --primary-bg: #ffffff;
  --primary-text: #2d2d2d;
}

[font-choice="serif"] {
  --font: "Lora", serif;
}

[font-choice="mono"] {
  --font: "Inconsolata", monospace;
}

[theme-choice="dark"] {
  --moon: #a445ed;
  --dropdown-bg: #1f1f1f;
  --dropdown-shadow: 0 5px 30px 0 #a445ed;

  --primary-bg: #050505;
  --primary-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: var(--font);
  min-height: 100vh;
  width: 100%;
  padding: 6rem;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

.h-lg {
  font-size: 6.4rem;
  line-height: 7.7rem;
}

.h-md {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.h-sm {
  font-size: 2rem;
  line-height: 2.4rem;
}

.b-md {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.b-sm {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
