.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  width: 100%;
}

.input-control {
  width: 100%;
  position: relative;
}

.form__label {
  display: none;
}

.form__input[type="text"] {
  width: 100%;
  height: 6.4rem;
  border: 1px solid var(--search-bg);
  background-color: var(--search-bg);
  color: var(--primary-text);
  border-radius: 1.6rem;
  padding: 2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
  font-family: var(--font);
  outline: none;
}

.form__input[type="text"]:hover,
.form__input[type="text"]:focus {
  border: 1px solid var(--accent);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 3.5%;
  transform: translateY(-50%);
}

.form__submit-btn {
  display: none;
}

.form.error .form__input[type="text"] {
  border: 1px solid var(--error);
}

.form.error .error-label {
  color: var(--error);
}
